.main-title-block {
    position: relative;
    padding-left: 25.2rem;
    padding-top: 24.1rem;
    padding-bottom: 32rem;

    @include breakpoint($cos-bp) {
        padding-left: 10rem;
        padding-top: 10rem;
    }

    @include breakpoint($xl-bp) {
        padding-left: 2rem;
        padding-top: 4rem;
        padding-right: 2rem;
    }

    @include breakpoint($sm-bp) {
        padding-bottom: 4rem;
    }

    img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
        left: 0;
        top: 0;
    }

    h1 {
        color: var(--white);
        font-family: TT Firs Neue;
        font-size: 9.6rem;
        font-weight: 600;
        line-height: 100%;

        @include breakpoint($sm-bp) {
            font-size: 3.4rem;
        }
    }

    p {
        color: var(--white);
        font-family: Gilroy;
        font-size: 3.2rem;
        font-weight: 400;
        line-height: 150%;
        width: 90.1rem;
        margin-top: 2.8rem;

        @include breakpoint($xl-bp) {
            width: 100%;
        }

        @include breakpoint($sm-bp) {
            font-size: 2.2rem;
            line-height: 120%;
        }
    }
}

.main-subtitle-block {
    margin-top: 8rem;
    position: relative;
    padding-top: 12rem;
    padding-bottom: 14.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include breakpoint($xl-bp) {
        margin-left: 0rem;
        margin-right: 0rem;
        padding-left: 2rem;
        padding-right: 2rem;
    }

    @include breakpoint($sm-bp) {
        padding-top: 4rem;
        padding-bottom: 4rem;
        margin-top: 4rem;
    }

    img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        object-fit: cover;
        top: 0;
        left: 0;
        z-index: -1;
    }

    h2 {
        color: var(--white);
        text-align: center;
        font-size: 6.4rem;
        font-weight: 700;
        line-height: 100%;
        width: 100rem;

        @include breakpoint($xl-bp) {
            width: 100%;
        }

        @include breakpoint($sm-bp) {
            font-size: 3.4rem;
        }
    }

    p {
        color: var(--white);
        text-align: center;
        font-family: Gilroy;
        font-size: 3.2rem;
        font-weight: 400;
        line-height: 150%;
        margin-top: 2.6rem;
        width: 90rem;

        @include breakpoint($xl-bp) {
            width: 100%;
        }

        @include breakpoint($sm-bp) {
            font-size: 2.2rem;
            line-height: 120%;
        }
    }

    button {
        display: flex;
        align-items: center;
        gap: 11.2rem;
        background: transparent;
        border: 0.1rem solid var(--white);
        padding: 2.7rem 2rem;
        color: var(--white);
        font-size: 2rem;
        font-weight: 600;
        line-height: 130%;
        margin-top: 6rem;
        margin-left: auto;
        margin-right: auto;

        @include breakpoint($sm-bp) {
            margin-top: 2.6rem;
            padding: 1.5rem 1rem;
        }

        svg {
            width: 2.3rem;
            height: 2rem;
            fill: var(--white);
        }
    }
}

.main-calendar {
    margin-top: 10rem;
    background: var(--blue);
    padding: 9.5rem 25rem 11.7rem;

    @include breakpoint($cos-bp) {
        padding-left: 10rem;
        padding-right: 10rem;
    }

    @include breakpoint($xl-bp) {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    @include breakpoint($sm-bp) {
        margin-top: 4rem;
        padding: 4rem 2rem;
    }
}

.main-calendar__title {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    @include breakpoint($sm-bp) {
        flex-direction: column;
        align-items: flex-start;
    }

    h2 {
        color: var(--white);
        font-size: 4.8rem;
        font-weight: 600;
        line-height: 100%;
        width: 36.4rem;

        @include breakpoint($sm-bp) {
            width: 100%;
            font-size: 3.4rem;
        }
    }

    a {
        display: flex;
        align-items: center;
        gap: 2rem;
        color: var(--white);
        font-size: 2rem;
        font-weight: 600;
        line-height: 130%;
        text-decoration: none;

        @include breakpoint($sm-bp) {
            margin-top: 2rem;
        }

        svg {
            fill: var(--white);
            width: 2.5rem;
            height: 2rem;
        }
    }
}

.main-calendar__events {
    margin-top: 6.2rem;
    display: flex;
    gap: 2rem;

    @include breakpoint($xl-bp) {
        gap: 1rem;
    }

    @include breakpoint($lb-bp) {
        flex-wrap: wrap;
    }

    @include breakpoint($sm-bp) {
        margin-top: 4rem;
    }

    a {
        text-decoration: none;
    }
}

.main-calendar__img {
    width: 100%;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.main-calendar__content {
    padding-top: 1.3rem;
    border: 0.1rem solid #FFF;
    background: rgba(255, 255, 255, 0.10);
    padding-bottom: 9.2rem;

    @include breakpoint($xl-bp) {
        padding-bottom: 4rem;
    }

    @include breakpoint($sm-bp) {
        padding-bottom: 2rem;
    }
}

.main-calendar__date {
    display: flex;
    gap: 0.8rem;
    align-items: center;
    padding-left: 3rem;

    @include breakpoint($sm-bp) {
        padding-left: 2rem;
    }

    p {
        color: var(--white);
        font-size: 3.2rem;
    }

    div {
        display: flex;
        align-items: center;
        gap: 0.4rem;

        p {
            color: var(--white);
            font-size: 3.2rem;
            font-weight: 500;
            line-height: 130%;

            // @include breakpoint($cos-bp) {
            //     font-size: 4.8rem;
            // }

            span {
                color: #FFF;
                font-size: 1.3rem;
                line-height: initial;

                // @include breakpoint($cos-bp) {
                //     font-size: 2rem;
                // }
            }

            &:last-child {
                display: flex;
                flex-direction: column;
            }
        }
    }
}

.main-calendar__border {
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 1.5rem;
    height: 0.1rem;
    background: var(--white);

    @include breakpoint($sm-bp) {
        margin-left: 1rem;
        margin-right: 1rem;
        margin-top: 1rem;
    }
}

.main-calendar__event-name {
    color: var(--white);
    font-size: 2.4rem;
    font-weight: 600;
    line-height: 130%;
    padding-left: 3rem;
    padding-right: 3rem;
    margin-top: 2.5rem;

    @include breakpoint($sm-bp) {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

.main-tradition {
    margin-top: 9.5rem;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 17.9rem;
    padding-bottom: 20.2rem;

    @include breakpoint($xl-bp) {
        margin-left: 0rem;
        margin-right: 0rem;
        padding-left: 2rem;
        padding-right: 2rem;
    }

    @include breakpoint($sm-bp) {
        margin-top: 4rem;
        padding-top: 4rem;
        padding-bottom: 4rem;
    }

    img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
        top: 0;
        left: 0;
    }

    h2 {
        color: var(--white);
        text-align: center;
        font-size: 6.4rem;
        font-weight: 700;
        line-height: 100%;
        width: 100rem;

        @include breakpoint($xl-bp) {
            width: 100%;
        }

        @include breakpoint($sm-bp) {
            font-size: 3.4rem;
        }
    }

    button {
        width: 15rem;
        height: 15rem;
        border-radius: 50%;
        border: 0.1rem solid var(--white);
        background: transparent;
        margin-top: 6.9rem;

        @include breakpoint($sm-bp) {
            margin-top: 4rem;
            width: 10rem;
            height: 10rem;
        }
    }
}

.main-news {
    margin-top: 10rem;
    padding-left: 25rem;
    padding-right: 25rem;

    @include breakpoint($cos-bp) {
        padding-left: 10rem;
        padding-right: 10rem;
    }

    @include breakpoint($xl-bp) {
        padding-left: 2rem;
        padding-right: 2rem;
    }

    @include breakpoint($sm-bp) {
        margin-top: 4rem;
    }
}

.main-news__title-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    @include breakpoint($sm-bp) {
        flex-direction: column;
        align-items: flex-start;
        gap: 2rem;
    }

    h2 {
        color: var(--black);
        font-size: 4.8rem;
        font-weight: 600;
        line-height: 100%;

        @include breakpoint($sm-bp) {
            font-size: 3.6rem;
        }
    }

    a {
        text-decoration: none;
        color: var(--blue);
        font-size: 2rem;
        font-weight: 600;
        line-height: 130%;
        display: flex;
        gap: 2rem;

        svg {
            fill: var(--blue);
            width: 2.5rem;
            height: 2rem;
        }
    }
}

.main-news__content {
    display: flex;
    gap: 3rem;
    margin-top: 3.9rem;

    @include breakpoint($xl-bp) {
        gap: 1rem;
    }

    @include breakpoint($lb-bp) {
        flex-wrap: wrap;
    }

    a {
        border: 0.1rem solid var(--black);
        text-decoration: none;
    }
}

.main-news__img {
    padding: 2rem;

    @include breakpoint($sm-bp) {
        padding: 1rem;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}


.main-news__date {
    display: flex;
    align-items: center;
    gap: 0.4rem;
    padding-left: 4rem;

    @include breakpoint($sm-bp) {
        padding-left: 2rem;
    }

    p {
        color: var(--black);
        font-size: 6.4rem;
        font-weight: 500;
        line-height: 130%;

        @include breakpoint($sm-bp) {
            font-size: 4.4rem;
        }

    }

    p:last-child {
        display: flex;
        flex-direction: column;
        font-size: 1.5rem;

        // @include breakpoint($cos-bp) {
        //     font-size: 2rem;
        // }
    }
}

.main-news__border {
    height: 0.1rem;
    background: rgba(0, 0, 0, 0.50);
    margin-top: 2rem;
    margin-left: 2rem;
    margin-right: 2rem;

    @include breakpoint($sm-bp) {
        margin-top: 1rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }
}

.main-news__news-name {
    padding-left: 4rem;
    padding-right: 2rem;
    padding-top: 3.6rem;
    padding-bottom: 15rem;

    @include breakpoint($xl-bp) {
        padding-bottom: 4rem;
    }

    @include breakpoint($sm-bp) {
        padding: 1rem 2rem 2rem 2rem;
    }

    p {
        color: var(--black);
        font-size: 2.8rem;
        font-weight: 600;
        line-height: 130%;

        @include breakpoint($sm-bp) {
            font-size: 2.4rem;
            line-height: 120%;
        }
    }
}