.news {
    flex-wrap: wrap;

    @include breakpoint($lb-bp) {
        gap: 0rem;
    }

    @include breakpoint($sm-bp) {
        margin-top: 5rem;
    }

    .main-news__img {
        @include breakpoint($sm-bp) {
            padding: 2rem;
        }
    }

    .main-news__date {
        p:first-child {
            font-size: 4.8rem;
        }
    }

    .main-news__news-name {
        p {
            font-size: 2rem;
            line-height: 130%;
        }
    }

    li {
        width: 45.3rem;

        @include breakpoint($cos-bp) {
            width: 40.3rem;
        }

        @include breakpoint($xl-bp) {
            width: 47.7rem;
        }

        @include breakpoint($lb-bp) {
            width: 100%;
        }

    }
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 10rem;

    @include breakpoint($lb-bp) {
        margin-top: 5rem;
    }

    svg {
        width: 2.4rem;
        height: 2.4rem;
        fill: var(--blue);
    }

    li {
        padding: 2rem;
        border-bottom: 0.1rem solid var(--black);
        border-top: 0.1rem solid var(--black);
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;

        &.active {
            border-bottom: 0.1rem solid var(--blue);
            border-top: 0.1rem solid var(--blue);

            a {
                color: var(--blue);
            }
        }
    }

    li:first-child {
        padding-right: 8rem;

        @include breakpoint($sm-bp) {
            padding-right: 1rem;
        }

        a {
            rotate: 180deg;
        }
    }

    li:last-child {
        padding-left: 8rem;

        @include breakpoint($sm-bp) {
            padding-left: 1rem;
        }
    }

    a {
        color: var(--black);
        font-family: Gilroy;
        font-size: 2.4rem;
        font-weight: 700;
        line-height: 130%;
        text-decoration: none;
        display: flex;
        align-items: center;
    }
}