<section class="about-company__story page-padding-25 large">
    <ul>
        <li>
            <p></p>
            <p>
                сертификация системы менеджмента качества (СМК) проектирования, разработки, производства и технического
                обслуживания оптико-механического оборудования на соответствие требованиям
            </p>
        </li>

        <li>
            <p></p>
            <p>
                сертификация системы менеджмента качества (СМК) проектирования, разработки, производства и технического
                обслуживания оптико-механического оборудования на соответствие требованиям
            </p>
        </li>

        <li>
            <p></p>
            <p>
                сертификация системы менеджмента качества (СМК) проектирования, разработки, производства и технического
                обслуживания оптико-механического оборудования на соответствие требованиям
            </p>
        </li>

        <li>
            <p></p>
            <p>
                сертификация системы менеджмента качества (СМК) проектирования, разработки, производства и технического
                обслуживания оптико-механического оборудования на соответствие требованиям
            </p>
        </li>
    </ul>
</section>