<section class="about-company__description-block page-padding-25">
    <h2>
        Открытое акционерное общество «Планар» -
        это научно-технический комплекс частной формы собственности
    </h2>
    <p>
        сертификация системы менеджмента качества (СМК) проектирования, разработки, производства и технического
        обслуживания оптико-механического оборудования на соответствие требованиям СТБ ISO 9001-2015 (сертификат БелГИМ
        BY/112 05.01. 003 09687 от 25.02.2020г.);сертификация системы менеджмента окружающей среды проектирования,
        разработки, производства и технического обслуживания оптико-механического оборудования на соответствие
        требованиям СТБ ISO 14001-2017 (сертификат БелГИМ BY/112 06.01. 003 00557 от 25.02.2020г.);сертификация системы
        управления охраной труда проектирования, разработки, производства и технического обслуживания
        оптико-механического оборудования на соответствие требованиям СТБ ISO 18001-2009 (сертификат БелГИМ BY/112
        05.04. 003 02902 от 25.02.2020г.).
    </p>
</section>