<section class="about-company__sertificate-block page-padding-25">
    <div class="swiper about-company__sertificate-swiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="about-company__swiper-slide-container">
                    <a href="./assets/images/sertificate.jpg" data-fancybox="gallery" class="about-company__slide-img">
                        <img src="./assets/images/sertificate.jpg" alt="#">
                    </a>

                    <div class="about-company__swiper-borderline"></div>

                    <p>Сертификат на соответствие требованиям ГОСТ ISO/IEC 17065-2013 (аттестат аккредитации № ВY/112
                        06.01.003)</p>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="about-company__swiper-slide-container">
                    <a href="./assets/images/sertificate.jpg" data-fancybox="gallery" class="about-company__slide-img">
                        <img src="./assets/images/sertificate.jpg" alt="#">
                    </a>

                    <div class="about-company__swiper-borderline"></div>

                    <p>Сертификат на соответствие требованиям ГОСТ ISO/IEC 17065-2013 (аттестат аккредитации № ВY/112
                        06.01.003)</p>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="about-company__swiper-slide-container">
                    <a href="./assets/images/sertificate.jpg" data-fancybox="gallery" class="about-company__slide-img">
                        <img src="./assets/images/sertificate.jpg" alt="#">
                    </a>

                    <div class="about-company__swiper-borderline"></div>

                    <p>Сертификат на соответствие требованиям ГОСТ ISO/IEC 17065-2013 (аттестат аккредитации № ВY/112
                        06.01.003)</p>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="about-company__swiper-slide-container">
                    <a href="./assets/images/sertificate.jpg" data-fancybox="gallery" class="about-company__slide-img">
                        <img src="./assets/images/sertificate.jpg" alt="#">
                    </a>

                    <div class="about-company__swiper-borderline"></div>

                    <p>Сертификат на соответствие требованиям ГОСТ ISO/IEC 17065-2013 (аттестат аккредитации № ВY/112
                        06.01.003)</p>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="about-company__swiper-slide-container">
                    <a href="./assets/images/sertificate.jpg" data-fancybox="gallery" class="about-company__slide-img">
                        <img src="./assets/images/sertificate.jpg" alt="#">
                    </a>

                    <div class="about-company__swiper-borderline"></div>

                    <p>Сертификат на соответствие требованиям ГОСТ ISO/IEC 17065-2013 (аттестат аккредитации № ВY/112
                        06.01.003)</p>
                </div>
            </div>
        </div>
    </div>
    <button class="about-company__arrow-next">
        <svg>
            <use href="#arrow"></use>
        </svg>
    </button>
    <button class="about-company__arrow-prev">
        <svg>
            <use href="#arrow"></use>
        </svg>
    </button>
</section>