<section class="about-company__story page-padding-25">
    <h3>
        История развития и совершенствования системы качества ОАО «Планар»
    </h3>

    <ul>
        <li>
            <a href="#">2020 г.</a>
            <p>
                сертификация системы менеджмента качества (СМК) проектирования, разработки, производства и технического
                обслуживания оптико-механического оборудования на соответствие требованиям СТБ ISO 9001-2015 (сертификат
                БелГИМ BY/112 05.01. 003 09687 от 25.02.2020г.);сертификация системы менеджмента окружающей среды
                проектирования, разработки, производства и технического обслуживания оптико-механического оборудования
                на соответствие требованиям СТБ ISO 14001-2017 (сертификат БелГИМ BY/112 06.01. 003 00557 от
                25.02.2020г.);сертификация системы управления охраной труда проектирования, разработки, производства и
                технического обслуживания оптико-механического оборудования на соответствие требованиям СТБ ISO
                18001-2009 (сертификат БелГИМ BY/112 05.04. 003 02902 от 25.02.2020г.).
            </p>
        </li>

        <li>
            <a href="#">2017 г.</a>
            <p>
                сертификация системы менеджмента качества (СМК) проектирования, разработки, производства и технического
                обслуживания оптико-механического оборудования на соответствие требованиям СТБ ISO 9001-2015 (сертификат
                БелГИМ BY/112 05.01. 003 03306 от 25.02.2017г.).
            </p>
        </li>

        <li>
            <a href="#">2014 г.</a>
            <p>
                ертификация системы менеджмента качества (СМК) проектирования, разработки и производства
                оптико-механического оборудования на соответствие требованиям СТБ ISO 9001-2009 (сертификат БелГИМ
                BY/112 05.01. 003 03306 от 25.02.2014г.).
            </p>
        </li>

        <li>
            <a href="#">2020 г.</a>
            <p>
                сертификация системы менеджмента качества (СМК) проектирования, разработки, производства и технического
                обслуживания оптико-механического оборудования на соответствие требованиям СТБ ISO 9001-2015 (сертификат
                БелГИМ BY/112 05.01. 003 09687 от 25.02.2020г.);сертификация системы менеджмента окружающей среды
                проектирования, разработки, производства и технического обслуживания оптико-механического оборудования
                на соответствие требованиям СТБ ISO 14001-2017 (сертификат БелГИМ BY/112 06.01. 003 00557 от
                25.02.2020г.);сертификация системы управления охраной труда проектирования, разработки, производства и
                технического обслуживания оптико-механического оборудования на соответствие требованиям СТБ ISO
                18001-2009 (сертификат БелГИМ BY/112 05.04. 003 02902 от 25.02.2020г.).
            </p>
        </li>

        <li>
            <a href="#">2017 г.</a>
            <p>
                сертификация системы менеджмента качества (СМК) проектирования, разработки, производства и технического
                обслуживания оптико-механического оборудования на соответствие требованиям СТБ ISO 9001-2015 (сертификат
                БелГИМ BY/112 05.01. 003 03306 от 25.02.2017г.).
            </p>
        </li>

        <li>
            <a href="#">2014 г.</a>
            <p>
                ертификация системы менеджмента качества (СМК) проектирования, разработки и производства
                оптико-механического оборудования на соответствие требованиям СТБ ISO 9001-2009 (сертификат БелГИМ
                BY/112 05.01. 003 03306 от 25.02.2014г.).
            </p>
        </li>
    </ul>
</section>