<section class="under-header-block page-padding-25">
    <div class="bread-crumbs">
        <a href="#">Главная</a>
        ·
        <a href="#">Планар</a>
        ·
        <p>О планаре</p>
    </div>

    <h1>ОАО «Планар»</h1>
</section>

<section class="about-company__description-block page-padding-25">
    <h2>
        Открытое акционерное общество «Планар» -
        это научно-технический комплекс частной формы собственности
    </h2>
    <p>
        сертификация системы менеджмента качества (СМК) проектирования, разработки, производства и технического
        обслуживания оптико-механического оборудования на соответствие требованиям СТБ ISO 9001-2015 (сертификат БелГИМ
        BY/112 05.01. 003 09687 от 25.02.2020г.);сертификация системы менеджмента окружающей среды проектирования,
        разработки, производства и технического обслуживания оптико-механического оборудования на соответствие
        требованиям СТБ ISO 14001-2017 (сертификат БелГИМ BY/112 06.01. 003 00557 от 25.02.2020г.);сертификация системы
        управления охраной труда проектирования, разработки, производства и технического обслуживания
        оптико-механического оборудования на соответствие требованиям СТБ ISO 18001-2009 (сертификат БелГИМ BY/112
        05.04. 003 02902 от 25.02.2020г.).
    </p>
</section>

<section class="about-company__story page-padding-25">
    <h3>
        История развития и совершенствования системы качества ОАО «Планар»
    </h3>

    <ul>
        <li>
            <a href="#">2020 г.</a>
            <p>
                сертификация системы менеджмента качества (СМК) проектирования, разработки, производства и технического
                обслуживания оптико-механического оборудования на соответствие требованиям СТБ ISO 9001-2015 (сертификат
                БелГИМ BY/112 05.01. 003 09687 от 25.02.2020г.);сертификация системы менеджмента окружающей среды
                проектирования, разработки, производства и технического обслуживания оптико-механического оборудования
                на соответствие требованиям СТБ ISO 14001-2017 (сертификат БелГИМ BY/112 06.01. 003 00557 от
                25.02.2020г.);сертификация системы управления охраной труда проектирования, разработки, производства и
                технического обслуживания оптико-механического оборудования на соответствие требованиям СТБ ISO
                18001-2009 (сертификат БелГИМ BY/112 05.04. 003 02902 от 25.02.2020г.).
            </p>
        </li>

        <li>
            <a href="#">2017 г.</a>
            <p>
                сертификация системы менеджмента качества (СМК) проектирования, разработки, производства и технического
                обслуживания оптико-механического оборудования на соответствие требованиям СТБ ISO 9001-2015 (сертификат
                БелГИМ BY/112 05.01. 003 03306 от 25.02.2017г.).
            </p>
        </li>

        <li>
            <a href="#">2014 г.</a>
            <p>
                ертификация системы менеджмента качества (СМК) проектирования, разработки и производства
                оптико-механического оборудования на соответствие требованиям СТБ ISO 9001-2009 (сертификат БелГИМ
                BY/112 05.01. 003 03306 от 25.02.2014г.).
            </p>
        </li>

        <li>
            <a href="#">2020 г.</a>
            <p>
                сертификация системы менеджмента качества (СМК) проектирования, разработки, производства и технического
                обслуживания оптико-механического оборудования на соответствие требованиям СТБ ISO 9001-2015 (сертификат
                БелГИМ BY/112 05.01. 003 09687 от 25.02.2020г.);сертификация системы менеджмента окружающей среды
                проектирования, разработки, производства и технического обслуживания оптико-механического оборудования
                на соответствие требованиям СТБ ISO 14001-2017 (сертификат БелГИМ BY/112 06.01. 003 00557 от
                25.02.2020г.);сертификация системы управления охраной труда проектирования, разработки, производства и
                технического обслуживания оптико-механического оборудования на соответствие требованиям СТБ ISO
                18001-2009 (сертификат БелГИМ BY/112 05.04. 003 02902 от 25.02.2020г.).
            </p>
        </li>

        <li>
            <a href="#">2017 г.</a>
            <p>
                сертификация системы менеджмента качества (СМК) проектирования, разработки, производства и технического
                обслуживания оптико-механического оборудования на соответствие требованиям СТБ ISO 9001-2015 (сертификат
                БелГИМ BY/112 05.01. 003 03306 от 25.02.2017г.).
            </p>
        </li>

        <li>
            <a href="#">2014 г.</a>
            <p>
                ертификация системы менеджмента качества (СМК) проектирования, разработки и производства
                оптико-механического оборудования на соответствие требованиям СТБ ISO 9001-2009 (сертификат БелГИМ
                BY/112 05.01. 003 03306 от 25.02.2014г.).
            </p>
        </li>
    </ul>
</section>

<section class="about-company__description-block page-padding-25">
    <h2>
        Открытое акционерное общество «Планар» -
        это научно-технический комплекс частной формы собственности
    </h2>
    <p>
        сертификация системы менеджмента качества (СМК) проектирования, разработки, производства и технического
        обслуживания оптико-механического оборудования на соответствие требованиям СТБ ISO 9001-2015 (сертификат БелГИМ
        BY/112 05.01. 003 09687 от 25.02.2020г.);сертификация системы менеджмента окружающей среды проектирования,
        разработки, производства и технического обслуживания оптико-механического оборудования на соответствие
        требованиям СТБ ISO 14001-2017 (сертификат БелГИМ BY/112 06.01. 003 00557 от 25.02.2020г.);сертификация системы
        управления охраной труда проектирования, разработки, производства и технического обслуживания
        оптико-механического оборудования на соответствие требованиям СТБ ISO 18001-2009 (сертификат БелГИМ BY/112
        05.04. 003 02902 от 25.02.2020г.).
    </p>
</section>

<section class="about-company__story page-padding-25 large">
    <ul>
        <li>
            <p></p>
            <p>
                сертификация системы менеджмента качества (СМК) проектирования, разработки, производства и технического обслуживания оптико-механического оборудования на соответствие требованиям
            </p>
        </li>

        <li>
            <p></p>
            <p>
                сертификация системы менеджмента качества (СМК) проектирования, разработки, производства и технического обслуживания оптико-механического оборудования на соответствие требованиям
            </p>
        </li>

        <li>
            <p></p>
            <p>
                сертификация системы менеджмента качества (СМК) проектирования, разработки, производства и технического обслуживания оптико-механического оборудования на соответствие требованиям
            </p>
        </li>

        <li>
            <p></p>
            <p>
                сертификация системы менеджмента качества (СМК) проектирования, разработки, производства и технического обслуживания оптико-механического оборудования на соответствие требованиям
            </p>
        </li>
    </ul>
</section>

<section class="about-company__story page-padding-25 count">
    <ul>
        <li>
            <p>1.</p>
            <p>
                сертификация системы менеджмента качества (СМК) проектирования, разработки, производства и технического обслуживания оптико-механического оборудования на соответствие требованиям
            </p>
        </li>

        <li>
            <p>2.</p>
            <p>
                сертификация системы менеджмента качества (СМК) проектирования, разработки, производства и технического обслуживания оптико-механического оборудования на соответствие требованиям
            </p>
        </li>

        <li>
            <p>3.</p>
            <p>
                сертификация системы менеджмента качества (СМК) проектирования, разработки, производства и технического обслуживания оптико-механического оборудования на соответствие требованиям
            </p>
        </li>

        <li>
            <p>4.</p>
            <p>
                сертификация системы менеджмента качества (СМК) проектирования, разработки, производства и технического обслуживания оптико-механического оборудования на соответствие требованиям
            </p>
        </li>

        <li>
            <p>5.</p>
            <p>
                сертификация системы менеджмента качества (СМК) проектирования, разработки, производства и технического обслуживания оптико-механического оборудования на соответствие требованиям
            </p>
        </li>
    </ul>
</section>

<section class="about-company__sertificate-block page-padding-25">
    <div class="swiper about-company__sertificate-block">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <a href="#">
                
            </a>
          </div>
          <div class="swiper-slide">Slide 2</div>
          <div class="swiper-slide">Slide 3</div>
          <div class="swiper-slide">Slide 4</div>
          <div class="swiper-slide">Slide 5</div>
          <div class="swiper-slide">Slide 6</div>
          <div class="swiper-slide">Slide 7</div>
          <div class="swiper-slide">Slide 8</div>
          <div class="swiper-slide">Slide 9</div>
        </div>
        <div class="swiper-pagination"></div>
      </div>
</section>