<div class="anti-corruption__employees page-padding-25">
    <h2>Председатель комиссии: АВАКОВ Сергей Мирзоевич - генеральный директор Заместитель председателя комиссии:Сакун Г.В. - заместитель генерального директора по социальному развитию, идеологической и кадровой работе Члены комиссии:</h2>

    <ul>
        <li>
            <p>АВАКОВ Сергей Мирзоевич</p>
            <p>генеральный директор</p>
        </li>
        <li>
            <p>Сакун Г.В.</p>
            <p>заместитель генерального директора по социальному развитию, идеологической и кадровой работе</p>
        </li>
        <li>
            <p>Федорович Н.А.</p>
            <p>директор торгово-производственного филиала «Планторг»</p>
        </li>
        <li>
            <p>АВАКОВ Сергей Мирзоевич</p>
            <p>генеральный директор</p>
        </li>
        <li>
            <p>Сакун Г.В.</p>
            <p>заместитель генерального директора по социальному развитию, идеологической и кадровой работе</p>
        </li>
        <li>
            <p>Федорович Н.А.</p>
            <p>директор торгово-производственного филиала «Планторг»</p>
        </li>

        <li>
            <p>Федорович Н.А.</p>
            <p>директор торгово-производственного филиала «Планторг»</p>
        </li>

        <li>
            <p>Федорович Н.А.</p>
            <p>директор торгово-производственного филиала «Планторг»</p>
        </li>

        <li>
            <p>Федорович Н.А.</p>
            <p>директор торгово-производственного филиала «Планторг»</p>
        </li>
    </ul>
</div>