<ul class="download-links page-padding-25">
    <li>
        <a href="#">
            <svg>
                <use href="#documentIco"></use>
            </svg>

            <div>
                <p>Приказ №82.1 от 17.02.2020 о комиссии по противодействию коррупции ОАО «Планар»</p>

                <p>Doc, 2 Mb</p>
            </div>

            <svg>
                <use href="#downloadIco"></use>
            </svg>
        </a>
    </li>

    <li>
        <a href="#">
            <svg>
                <use href="#documentIco"></use>
            </svg>

            <div>
                <p>Приказ №82.1 от 17.02.2020 о комиссии по противодействию коррупции ОАО «Планар»</p>

                <p>Doc, 2 Mb</p>
            </div>

            <svg>
                <use href="#downloadIco"></use>
            </svg>
        </a>
    </li>
</ul>