<div class="footer">
    <div class="footer-top-container">
        <ul>
            <li>
                <div class="footer__logo">
                    <img src="./assets/images/logo.svg" alt="#">
                </div>
            </li>
            <li>
                Партизанский пр. 2, корп. 2-31 220033, г. Минск, РБ
            </li>
        </ul>

        <ul>
            <li>Приемная
                <ul>
                    <li><a href="#">Тел.: +375 (17) 297-37-09</a></li>
                    <li><a href="#">Факс: +375 (17) 226-12-05</a></li>
                    <li><a href="#">e-mail: office@kbtem-omo.by</a></li>
                </ul>
            </li>

            <li>
                <ul>
                    <li><a href="#">Карьера в ОАО «Планар»</a></li>
                    <li><a href="#">Целевой прием в 2023 году</a></li>
                </ul>
            </li>
        </ul>

        <ul>
            <li><a href="#">Планар</a></li>
            <li><a href="#">Продукция</a></li>
            <li><a href="#">Услуги</a></li>
            <li><a href="#">Научная деятельность</a></li>
            <li><a href="#">Пресс-центр</a></li>
            <li><a href="#">Контакты</a></li>
        </ul>

        <ul>
            <li>
                <ul>
                    <li><a href="#" class="active">RU</a></li>
                    <li><a href="#">EN</a></li>
                    <li><a href="#">中文</a></li>
                </ul>
            </li>
            <li>
                <ul>
                    <li>
                        <div>
                            <img src="./assets/images/rb.png" alt="#">
                        </div>
                        <a href="#">Сайт Президента РБ</a>
                    </li>

                    <li>
                        <div>
                            <img src="./assets/images/promRb.png" alt="#">
                        </div>
                        <a href="#">Министерство промышленности РБ</a>
                    </li>

                    <li>
                        <div>
                            <img src="./assets/images/pravoRb.png" alt="#">
                        </div>
                        <a href="#">Национальный правовой портал РБ</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>

    <div class="footer-bottom-container">
        <ul>
            <li><a href="#">Политика обработки персональных данных</a></li>
            <li>Copyright © 2023 Планар Все права защищены.</li>
        </ul>

        <a href="#">Карта сайта</a>

        <a href="#">
            Разработка сайта
            <svg>
                <use href="#scrollLogo"></use>
            </svg>
        </a>
    </div>
</div>