<div class="header">
    <ul class="header__burger" id="burgerButton">
        <li></li>
        <li></li>
        <li></li>
    </ul>

    <a href="#" class="header__logo">
        <img src="./assets/images/logo.svg" alt="#">
    </a>

    <ul class="header__menu">
        <li>
            <button>
                Продукция
                <svg>
                    <use href="#arrow"></use>
                </svg>
                <i class="arrow"></i>
            </button>
            <ul>
                <li><a href="#">Оборудование для производства фотошаблонов</a></li>
                <li><a href="#">Оборудование для производства фотошаблонов</a></li>
                <li><a href="#">Оборудование для производства фотошаблонов</a></li>
                <li><a href="#">Оборудование для производства фотошаблонов</a></li>
                <li><a href="#">Оборудование для производства фотошаблонов</a></li>
                <li><a href="#">Оборудование для производства фотошаблонов</a></li>
            </ul>
        </li>
        <li>
            <button>
                Планар
                <svg>
                    <use href="#arrow"></use>
                </svg>
                <i class="arrow"></i>
            </button>
            <ul>
                <li><a href="#">Оборудование для производства фотошаблонов</a></li>
                <li><a href="#">Оборудование для производства фотошаблонов</a></li>
                <li><a href="#">Оборудование для производства фотошаблонов</a></li>
                <li><a href="#">Оборудование для производства фотошаблонов</a></li>
                <li><a href="#">Оборудование для производства фотошаблонов</a></li>
                <li><a href="#">Оборудование для производства фотошаблонов</a></li>
            </ul>
        </li>
        <li>
            <button>
                Услуги
                <svg>
                    <use href="#arrow"></use>
                </svg>
                <i class="arrow"></i>
            </button>
            <ul>
                <li><a href="#">Оборудование для производства фотошаблонов</a></li>
                <li><a href="#">Оборудование для производства фотошаблонов</a></li>
                <li><a href="#">Оборудование для производства фотошаблонов</a></li>
                <li><a href="#">Оборудование для производства фотошаблонов</a></li>
                <li><a href="#">Оборудование для производства фотошаблонов</a></li>
                <li><a href="#">Оборудование для производства фотошаблонов</a></li>
            </ul>
        </li>
        <li>
            <button>
                Научная деятельность
                <svg>
                    <use href="#arrow"></use>
                </svg>
                <i class="arrow"></i>
            </button>
            <ul>
                <li><a href="#">Оборудование для производства фотошаблонов</a></li>
                <li><a href="#">Оборудование для производства фотошаблонов</a></li>
                <li><a href="#">Оборудование для производства фотошаблонов</a></li>
                <li><a href="#">Оборудование для производства фотошаблонов</a></li>
                <li><a href="#">Оборудование для производства фотошаблонов</a></li>
                <li><a href="#">Оборудование для производства фотошаблонов</a></li>
            </ul>
        </li>
        <li>
            <button>
                Пресс-центр
                <svg>
                    <use href="#arrow"></use>
                </svg>
                <i class="arrow"></i>
            </button>
            <ul>
                <li><a href="#">Оборудование для производства фотошаблонов</a></li>
                <li><a href="#">Оборудование для производства фотошаблонов</a></li>
                <li><a href="#">Оборудование для производства фотошаблонов</a></li>
                <li><a href="#">Оборудование для производства фотошаблонов</a></li>
                <li><a href="#">Оборудование для производства фотошаблонов</a></li>
                <li><a href="#">Оборудование для производства фотошаблонов</a></li>
            </ul>
        </li>
        <li>
            <button>
                Контакты
                <svg>
                    <use href="#arrow"></use>
                </svg>
                <i class="arrow"></i>
            </button>
            <ul>
                <li><a href="#">Оборудование для производства фотошаблонов</a></li>
                <li><a href="#">Оборудование для производства фотошаблонов</a></li>
                <li><a href="#">Оборудование для производства фотошаблонов</a></li>
                <li><a href="#">Оборудование для производства фотошаблонов</a></li>
                <li><a href="#">Оборудование для производства фотошаблонов</a></li>
                <li><a href="#">Оборудование для производства фотошаблонов</a></li>
            </ul>
        </li>
    </ul>

    <div class="header__search-ico">
        <svg>
            <use href="#searchIco"></use>
        </svg>

        <svg>
            <use href="#searchCross"></use>
        </svg>
    </div>

    <div class="header__eye-ico">
        <svg>
            <use href="#eyeIco"></use>
        </svg>
    </div>

    <ul class="header__language">
        <li>
            <a href="#" class="active">RU</a>
            <div></div>
        </li>
        <li>
            <a href="#">EN</a>
            <div></div>
        </li>
        <li>
            <a href="#">中文</a>
            <div></div>
        </li>
    </ul>
</div>

<div id="search-modal" class="search-modal">
    <div class="search-modal-content">
        <span class="close">
            <svg>
                <use href="#searchCross"></use>
            </svg>
        </span>
        <form action="#">
            <input type="text" name="search" placeholder="Введите поисковый запрос">
            <button type="submit">
                <svg>
                    <use href="#searchIco"></use>
                </svg>
            </button>
        </form>
    </div>
</div>

<div id="burger-menu" class="burger-menu">
    <div class="burger-menu-content">
        <ul class="burger-menu-content__first-list">

        </ul>

        <ul class="burger-menu-content__second-list">
        </ul>
    </div>
</div>