<section class="main-title-block">
    <img src="./assets/images/planarBg.jpg" alt="#">
    <h1>ОАО «Планар»</h1>
    <p>Открытое акционерное общество «Планар» -
        это научно-технический комплекс частной формы собственности, занимается разработкой и поставкой
        специализированного технологического оборудования для реализации технологий в микроэлектронике.</p>
</section>

<section class="main-subtitle-block page-margin">
    <img src="./assets/images/subtitleBg.jpg" alt="#">
    <h2>Мы — лидеры электронного машиностроения</h2>
    <p>ОАО «Планар» выпускает широкую гамму специального технологического оборудования для производства ИМС и других
        изделий микро- и наноэлетроники</p>
    <button>
        В каталог
        <svg>
            <use href="#arrow"></use>
        </svg>
    </button>
</section>

<section class="main-news">

    <div class="main-news__title-container">
        <h2>Новости</h2>

        <a href="#">
            Все события

            <svg>
                <use href="#arrow"></use>
            </svg>
        </a>
    </div>

    <ul class="main-news__content">
        <li>
            <a href="#">
                <div class="main-news__img">
                    <img src="./assets/images/newsImg.jpg" alt="#">
                </div>
                <div class="main-news__date">
                    <p>15</p>
                    <p>
                        <span>Марта</span>
                        <span>2023</span>
                    </p>
                </div>
        
                <div class="main-news__border">
                </div>
        
                <div class="main-news__news-name">
                    <p>Информирование о профилактике правонарушений</p>
                </div>
            </a>
        </li>

        <li>
            <a href="#">
                <div class="main-news__img">
                    <img src="./assets/images/newsImg.jpg" alt="#">
                </div>
                <div class="main-news__date">
                    <p>15</p>
                    <p>
                        <span>Марта</span>
                        <span>2023</span>
                    </p>
                </div>
        
                <div class="main-news__border">
                </div>
        
                <div class="main-news__news-name">
                    <p>Информирование о профилактике правонарушений</p>
                </div>
            </a>
        </li>

        <li>
            <a href="#">
                <div class="main-news__img">
                    <img src="./assets/images/newsImg.jpg" alt="#">
                </div>
                <div class="main-news__date">
                    <p>15</p>
                    <p>
                        <span>Марта</span>
                        <span>2023</span>
                    </p>
                </div>
        
                <div class="main-news__border">
                </div>
        
                <div class="main-news__news-name">
                    <p>Информирование о профилактике правонарушений</p>
                </div>
            </a>
        </li>
    </ul>
    
</section>

<section class="main-calendar">
    <div class="main-calendar__title">
        <h2>Календарь событий</h2>
        <a href="#">
            Все события
            <svg>
                <use href="#arrow"></use>
            </svg>
        </a>
    </div>

    <div class="main-calendar__events">
        <a href="#">
            <div class="main-calendar__img">
                <img src="./assets/images/calendarImg.jpg" alt="#">
            </div>
            <div class="main-calendar__content">
                <div class="main-calendar__date">
                    <div>
                        <p>15</p>
                        <p>
                            <span>Марта</span>
                            <span>2023</span>
                        </p>
                    </div>
                    <p>
                        —
                    </p>
                    <div>
                        <p>15</p>
                        <p>
                            <span>Марта</span>
                            <span>2023</span>
                        </p>
                    </div>
                </div>

                <div class="main-calendar__border"></div>

                <div class="main-calendar__event-name">
                    <p>Информирование о профилактике правонарушений</p>
                </div>
            </div>
        </a>

        <a href="#">
            <div class="main-calendar__img">
                <img src="./assets/images/calendarImg.jpg" alt="#">
            </div>
            <div class="main-calendar__content">
                <div class="main-calendar__date">
                    <div>
                        <p>15</p>
                        <p>
                            <span>Марта</span>
                            <span>2023</span>
                        </p>
                    </div>
                    <p>
                        —
                    </p>
                    <div>
                        <p>15</p>
                        <p>
                            <span>Марта</span>
                            <span>2023</span>
                        </p>
                    </div>
                </div>

                <div class="main-calendar__border"></div>

                <div class="main-calendar__event-name">
                    <p>Информирование о профилактике правонарушений</p>
                </div>
            </div>
        </a>

        <a href="#">
            <div class="main-calendar__img">
                <img src="./assets/images/calendarImg.jpg" alt="#">
            </div>
            <div class="main-calendar__content">
                <div class="main-calendar__date">
                    <div>
                        <p>15</p>
                        <p>
                            <span>Марта</span>
                            <span>2023</span>
                        </p>
                    </div>
                    <p>
                        —
                    </p>
                    <div>
                        <p>15</p>
                        <p>
                            <span>Марта</span>
                            <span>2023</span>
                        </p>
                    </div>
                </div>

                <div class="main-calendar__border"></div>

                <div class="main-calendar__event-name">
                    <p>Информирование о профилактике правонарушений</p>
                </div>
            </div>
        </a>
    </div>
</section>

<section class="main-tradition page-margin">
    <img src="./assets/images/traditionImg.jpg" alt="#">
    <h2>Создаем традиции будущего! Планару - 60 лет</h2>
    <button>s</button>
</section>

<div class="footer-margin"></div>