<section class="management page-padding-25">
    <div class="management__item">
        <div class="management__person">
            <div class="management__img">
                <img src="./assets/images/managementPerson.jpg" alt="#">
            </div>

            <div class="management__person-text">
                <p>Время и место приема: </p>
                <p>
                    Вторник 16:00 — 18:00 корп.«АЛК»<br>
                    Телефон: 297-37-09
                </p>
            </div>
        </div>

        <div class="management__description">
            <h2>АВАКОВ СЕРГЕЙ МИРЗОЕВИЧ</h2>
            <p class="management__post">Генеральный директор ОАО «Планар»</p>
            <div class="management__borderline"></div>
            <div class="management__description-text">
                <p>
                    Родился в 1955 году в г.Минске.В 1977 году окончил Минский радиотехнический институт по специальности
                    автоматизированные системы управления.С 1984 года работает над созданием оборудования для
                    автоматического контроля топологии планарных структур в КБТЭМ (ГНПО «Планар»). Занимал должности
                    ведущего конструктора, начальника лаборатории, отдела, заместителя главного инженера по электронике
                    КБТЭМ-ОМО, технического директора ГНПК ТМ «ПЛАНАР», главного конструктора контрольно-измерительного
                    оборудования «КБТЭМ-ОМО».С 2007 г. по 2019 г. являлся директором предприятия, осуществляет научное
                    руководство разработкой оборудования для автоматического контроля топологии.С сентября 2019 г. по
                    настоящее время занимает должность генерального директора управляющей компании ОАО «Планар».
                </p>
                <p>
                    В 2001 году удостоен звания лауреата Государственной премии Республики Беларусь за работу по созданию
                    и освоению в производстве комплекса конкурентоспособного прецизионного оборудования для изготовления
                    высокоточных оригиналов топологий изделий электронной техники.В 2008 г. С.М. Аваков защитил
                    докторскую диссертацию на тему «Автоматический контроль топологии субмикронных планарных структур в
                    производстве изделий микроэлектроники», удостоен ученой степени доктора технических наук по
                    специальности «Технология и оборудование для производства полупроводников, материалов и приборов
                    электронной техники».
                    Автор более 100 публикаций, в том числе 15 монографий, более 48 статей в научных журналах, 7
                    патентов Республики Беларусь (2 авторских свидетельства).
                </p>
            </div>
        </div>
    </div>

    <div class="management__item">
        <div class="management__person">
            <div class="management__img">
                <img src="./assets/images/managementPerson2.jpg" alt="#">
            </div>

            <div class="management__person-text">
                <p>Контакты:</p>
                <p>
                    Телефон: 297-37-09
                </p>
            </div>
        </div>

        <div class="management__description">
            <h2>ПЛЕБАНОВИЧ ВЛАДИМИР ИВАНОВИЧ</h2>
            <p class="management__post">Заместитель генерального директора по маркетингу</p>
            <div class="management__borderline"></div>
            <div class="management__description-text">
                <p>
                    Родился в 1956 году в г.Винница (Украина).В 1979 году окончил Минский радиотехнический институт по специальности конструирование и производство радиоаппаратуры.С 1979 по 2011 год работал в НПО «Интеграл» на должностях: инженер, мастер, старший технолог, заместитель начальника цеха, главный инженер завода, директор завода, заместитель генерального директора, технический директор, главный инженер филиала «Завод полупроводниковых приборов» ОАО «Интеграла».С 2011 года занимал должность заместителя директора по маркетингу ОАО «КБТЭМ-ОМО».С февраля 2020 г. по настоящее время является заместителем генерального директора по маркетингу ОАО «Планар».Кандидат технических наук.Автор 5 монографий (из них «Химическая обработка в технологии ИМС» и «Электростатические заряды в электронике»), 47 статей в научных журналах, более 50 публикаций в материалах научных конференций, 20 патентов Республики Беларусь и Российской Федерации.
                </p>
            </div>
        </div>
    </div>

    <div class="management__item">
        <div class="management__person">
            <div class="management__img">
                <img src="./assets/images/managementPerson.jpg" alt="#">
            </div>

            <div class="management__person-text">
                <p>Время и место приема: </p>
                <p>
                    Вторник 16:00 — 18:00 корп.«АЛК»<br>
                    Телефон: 297-37-09
                </p>
            </div>
        </div>

        <div class="management__description">
            <h2>АВАКОВ СЕРГЕЙ МИРЗОЕВИЧ</h2>
            <p class="management__post">Генеральный директор ОАО «Планар»</p>
            <div class="management__borderline"></div>
            <div class="management__description-text">
                <p>
                    Родился в 1955 году в г.Минске.В 1977 году окончил Минский радиотехнический институт по специальности
                    автоматизированные системы управления.С 1984 года работает над созданием оборудования для
                    автоматического контроля топологии планарных структур в КБТЭМ (ГНПО «Планар»). Занимал должности
                    ведущего конструктора, начальника лаборатории, отдела, заместителя главного инженера по электронике
                    КБТЭМ-ОМО, технического директора ГНПК ТМ «ПЛАНАР», главного конструктора контрольно-измерительного
                    оборудования «КБТЭМ-ОМО».С 2007 г. по 2019 г. являлся директором предприятия, осуществляет научное
                    руководство разработкой оборудования для автоматического контроля топологии.С сентября 2019 г. по
                    настоящее время занимает должность генерального директора управляющей компании ОАО «Планар».
                </p>
                <p>
                    В 2001 году удостоен звания лауреата Государственной премии Республики Беларусь за работу по созданию
                    и освоению в производстве комплекса конкурентоспособного прецизионного оборудования для изготовления
                    высокоточных оригиналов топологий изделий электронной техники.В 2008 г. С.М. Аваков защитил
                    докторскую диссертацию на тему «Автоматический контроль топологии субмикронных планарных структур в
                    производстве изделий микроэлектроники», удостоен ученой степени доктора технических наук по
                    специальности «Технология и оборудование для производства полупроводников, материалов и приборов
                    электронной техники».
                    Автор более 100 публикаций, в том числе 15 монографий, более 48 статей в научных журналах, 7
                    патентов Республики Беларусь (2 авторских свидетельства).
                </p>
            </div>
        </div>
    </div>

    <div class="management__item">
        <div class="management__person">
            <div class="management__img">
                <img src="./assets/images/managementPerson2.jpg" alt="#">
            </div>

            <div class="management__person-text">
                <p>Контакты:</p>
                <p>
                    Телефон: 297-37-09
                </p>
            </div>
        </div>

        <div class="management__description">
            <h2>ПЛЕБАНОВИЧ ВЛАДИМИР ИВАНОВИЧ</h2>
            <p class="management__post">Заместитель генерального директора по маркетингу</p>
            <div class="management__borderline"></div>
            <div class="management__description-text">
                <p>
                    Родился в 1956 году в г.Винница (Украина).В 1979 году окончил Минский радиотехнический институт по специальности конструирование и производство радиоаппаратуры.С 1979 по 2011 год работал в НПО «Интеграл» на должностях: инженер, мастер, старший технолог, заместитель начальника цеха, главный инженер завода, директор завода, заместитель генерального директора, технический директор, главный инженер филиала «Завод полупроводниковых приборов» ОАО «Интеграла».С 2011 года занимал должность заместителя директора по маркетингу ОАО «КБТЭМ-ОМО».С февраля 2020 г. по настоящее время является заместителем генерального директора по маркетингу ОАО «Планар».Кандидат технических наук.Автор 5 монографий (из них «Химическая обработка в технологии ИМС» и «Электростатические заряды в электронике»), 47 статей в научных журналах, более 50 публикаций в материалах научных конференций, 20 патентов Республики Беларусь и Российской Федерации.
                </p>
            </div>
        </div>
    </div>
</section>