<ul class="products__menu">
    <li>
        <button class="products__accordion">Оборудование для производства фотошаблонов</button>
        <div class="products__panel">
            <button class="products__sub-accordion">Прецизионные генераторы изображений фотошаблонов</button>
            <div class="products__sub-panel">
                <ul>
                    <li><a href="#">ЭМ-5489БМногоканальный лазерный генератор изображений</a></li>
                    <li><a href="#">ЭМ-5489БМногоканальный лазерный генератор изображений</a></li>
                </ul>
            </div>

            <button class="products__sub-accordion">Прецизионные генераторы изображений фотошаблонов</button>
            <div class="products__sub-panel">
                <ul>
                    <li><a href="#">ЭМ-5489БМногоканальный лазерный генератор изображений</a></li>
                    <li><a href="#">ЭМ-5489БМногоканальный лазерный генератор изображений</a></li>
                </ul>
            </div>

            <button class="products__sub-accordion">Прецизионные генераторы изображений фотошаблонов</button>
            <div class="products__sub-panel">
                <ul>
                    <li><a href="#">ЭМ-5489БМногоканальный лазерный генератор изображений</a></li>
                    <li><a href="#">ЭМ-5489БМногоканальный лазерный генератор изображений</a></li>
                </ul>
            </div>
        </div>
    </li>

    <li>
        <button class="products__accordion">Оборудование для производства фотошаблонов</button>
        <div class="products__panel">
            <button class="products__sub-accordion">Прецизионные генераторы изображений фотошаблонов</button>
            <div class="products__sub-panel">
                <ul>
                    <li><a href="#">ЭМ-5489БМногоканальный лазерный генератор изображений</a></li>
                    <li><a href="#">ЭМ-5489БМногоканальный лазерный генератор изображений</a></li>
                </ul>
            </div>

            <button class="products__sub-accordion">Прецизионные генераторы изображений фотошаблонов</button>
            <div class="products__sub-panel">
                <ul>
                    <li><a href="#">ЭМ-5489БМногоканальный лазерный генератор изображений</a></li>
                    <li><a href="#">ЭМ-5489БМногоканальный лазерный генератор изображений</a></li>
                </ul>
            </div>

            <button class="products__sub-accordion">Прецизионные генераторы изображений фотошаблонов</button>
            <div class="products__sub-panel">
                <ul>
                    <li><a href="#">ЭМ-5489БМногоканальный лазерный генератор изображений</a></li>
                    <li><a href="#">ЭМ-5489БМногоканальный лазерный генератор изображений</a></li>
                </ul>
            </div>
        </div>
    </li>

    <li>
        <button class="products__accordion">Оборудование для производства фотошаблонов</button>
        <div class="products__panel">
            <button class="products__sub-accordion">Прецизионные генераторы изображений фотошаблонов</button>
            <div class="products__sub-panel">
                <ul>
                    <li><a href="#">ЭМ-5489БМногоканальный лазерный генератор изображений</a></li>
                    <li><a href="#">ЭМ-5489БМногоканальный лазерный генератор изображений</a></li>
                </ul>
            </div>

            <button class="products__sub-accordion">Прецизионные генераторы изображений фотошаблонов</button>
            <div class="products__sub-panel">
                <ul>
                    <li><a href="#">ЭМ-5489БМногоканальный лазерный генератор изображений</a></li>
                    <li><a href="#">ЭМ-5489БМногоканальный лазерный генератор изображений</a></li>
                </ul>
            </div>

            <button class="products__sub-accordion">Прецизионные генераторы изображений фотошаблонов</button>
            <div class="products__sub-panel">
                <ul>
                    <li><a href="#">ЭМ-5489БМногоканальный лазерный генератор изображений</a></li>
                    <li><a href="#">ЭМ-5489БМногоканальный лазерный генератор изображений</a></li>
                </ul>
            </div>
        </div>
    </li>

    <li>
        <button class="products__accordion">Оборудование для производства фотошаблонов</button>
        <div class="products__panel">
            <button class="products__sub-accordion">Прецизионные генераторы изображений фотошаблонов</button>
            <div class="products__sub-panel">
                <ul>
                    <li><a href="#">ЭМ-5489БМногоканальный лазерный генератор изображений</a></li>
                    <li><a href="#">ЭМ-5489БМногоканальный лазерный генератор изображений</a></li>
                </ul>
            </div>

            <button class="products__sub-accordion">Прецизионные генераторы изображений фотошаблонов</button>
            <div class="products__sub-panel">
                <ul>
                    <li><a href="#">ЭМ-5489БМногоканальный лазерный генератор изображений</a></li>
                    <li><a href="#">ЭМ-5489БМногоканальный лазерный генератор изображений</a></li>
                </ul>
            </div>

            <button class="products__sub-accordion">Прецизионные генераторы изображений фотошаблонов</button>
            <div class="products__sub-panel">
                <ul>
                    <li><a href="#">ЭМ-5489БМногоканальный лазерный генератор изображений</a></li>
                    <li><a href="#">ЭМ-5489БМногоканальный лазерный генератор изображений</a></li>
                </ul>
            </div>
        </div>
    </li>

    <li>
        <button class="products__accordion">Оборудование для производства фотошаблонов</button>
        <div class="products__panel">
            <button class="products__sub-accordion">Прецизионные генераторы изображений фотошаблонов</button>
            <div class="products__sub-panel">
                <ul>
                    <li><a href="#">ЭМ-5489БМногоканальный лазерный генератор изображений</a></li>
                    <li><a href="#">ЭМ-5489БМногоканальный лазерный генератор изображений</a></li>
                </ul>
            </div>

            <button class="products__sub-accordion">Прецизионные генераторы изображений фотошаблонов</button>
            <div class="products__sub-panel">
                <ul>
                    <li><a href="#">ЭМ-5489БМногоканальный лазерный генератор изображений</a></li>
                    <li><a href="#">ЭМ-5489БМногоканальный лазерный генератор изображений</a></li>
                </ul>
            </div>

            <button class="products__sub-accordion">Прецизионные генераторы изображений фотошаблонов</button>
            <div class="products__sub-panel">
                <ul>
                    <li><a href="#">ЭМ-5489БМногоканальный лазерный генератор изображений</a></li>
                    <li><a href="#">ЭМ-5489БМногоканальный лазерный генератор изображений</a></li>
                </ul>
            </div>
        </div>
    </li>

    <li>
        <button class="products__accordion">Оборудование для производства фотошаблонов</button>
        <div class="products__panel">
            <button class="products__sub-accordion">Прецизионные генераторы изображений фотошаблонов</button>
            <div class="products__sub-panel">
                <ul>
                    <li><a href="#">ЭМ-5489БМногоканальный лазерный генератор изображений</a></li>
                    <li><a href="#">ЭМ-5489БМногоканальный лазерный генератор изображений</a></li>
                </ul>
            </div>

            <button class="products__sub-accordion">Прецизионные генераторы изображений фотошаблонов</button>
            <div class="products__sub-panel">
                <ul>
                    <li><a href="#">ЭМ-5489БМногоканальный лазерный генератор изображений</a></li>
                    <li><a href="#">ЭМ-5489БМногоканальный лазерный генератор изображений</a></li>
                </ul>
            </div>

            <button class="products__sub-accordion">Прецизионные генераторы изображений фотошаблонов</button>
            <div class="products__sub-panel">
                <ul>
                    <li><a href="#">ЭМ-5489БМногоканальный лазерный генератор изображений</a></li>
                    <li><a href="#">ЭМ-5489БМногоканальный лазерный генератор изображений</a></li>
                </ul>
            </div>
        </div>
    </li>

    <li>
        <button class="products__accordion">Оборудование для производства фотошаблонов</button>
        <div class="products__panel">
            <button class="products__sub-accordion">Прецизионные генераторы изображений фотошаблонов</button>
            <div class="products__sub-panel">
                <ul>
                    <li><a href="#">ЭМ-5489БМногоканальный лазерный генератор изображений</a></li>
                    <li><a href="#">ЭМ-5489БМногоканальный лазерный генератор изображений</a></li>
                </ul>
            </div>

            <button class="products__sub-accordion">Прецизионные генераторы изображений фотошаблонов</button>
            <div class="products__sub-panel">
                <ul>
                    <li><a href="#">ЭМ-5489БМногоканальный лазерный генератор изображений</a></li>
                    <li><a href="#">ЭМ-5489БМногоканальный лазерный генератор изображений</a></li>
                </ul>
            </div>

            <button class="products__sub-accordion">Прецизионные генераторы изображений фотошаблонов</button>
            <div class="products__sub-panel">
                <ul>
                    <li><a href="#">ЭМ-5489БМногоканальный лазерный генератор изображений</a></li>
                    <li><a href="#">ЭМ-5489БМногоканальный лазерный генератор изображений</a></li>
                </ul>
            </div>
        </div>
    </li>
</ul>