<div class="scientific-card__swiper-container">
    <div class="swiper scientific-card__swiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="swiper-slide__img">
                    <img src="./assets/images/scientific-swiper.jpg" alt="#">
                </div>
            </div>
            <div class="swiper-slide">
                <div class="swiper-slide__img">
                    <img src="./assets/images/scientific-swiper.jpg" alt="#">
                </div>
            </div>

            <div class="swiper-slide">
                <div class="swiper-slide__img">
                    <img src="./assets/images/scientific-swiper.jpg" alt="#">
                </div>
            </div>

            <div class="swiper-slide">
                <div class="swiper-slide__img">
                    <img src="./assets/images/scientific-swiper.jpg" alt="#">
                </div>
            </div>

            <div class="swiper-slide">
                <div class="swiper-slide__img">
                    <img src="./assets/images/scientific-swiper.jpg" alt="#">
                </div>
            </div>
        </div>
    </div>

    <div class="scientific-card__swiper-btns">
        <div class="scientific-card__swiper-pagination"></div>
        <button class="scientific-card__swiper-btn-left">
            <svg>
                <use href="#arrow"></use>
            </svg>
        </button>

        <button class="scientific-card__swiper-btn-right">
            <svg>
                <use href="#arrow"></use>
            </svg>
        </button>
    </div>
</div>