<ul class="scientific-activity page-padding-25">
    <li>
        <a href="#">
            <div>
                <p>22</p>
                <p>МАЯ 2023</p>
            </div>
            <div class="products__content-catalog-border"></div>
            <div>
                <p>Заголовок научной статьи. Открытое акционерное общество «Планар» - это научно-технический комплекс частной формы собственности</p>
                <p>Автор: <span>Иванов И.И.</span></p>
            </div>
        </a>
    </li>

    <li>
        <a href="#">
            <div>
                <p>22</p>
                <p>МАЯ 2023</p>
            </div>
            <div class="products__content-catalog-border"></div>
            <div>
                <p>Заголовок научной статьи. Открытое акционерное общество «Планар» - это научно-технический комплекс частной формы собственности</p>
                <p>Автор: <span>Иванов И.И.</span></p>
            </div>
        </a>
    </li>
    <li>
        <a href="#">
            <div>
                <p>22</p>
                <p>МАЯ 2023</p>
            </div>
            <div class="products__content-catalog-border"></div>
            <div>
                <p>Заголовок научной статьи. Открытое акционерное общество «Планар» - это научно-технический комплекс частной формы собственности</p>
                <p>Автор: <span>Иванов И.И.</span></p>
            </div>
        </a>
    </li>
    <li>
        <a href="#">
            <div>
                <p>22</p>
                <p>МАЯ 2023</p>
            </div>
            <div class="products__content-catalog-border"></div>
            <div>
                <p>Заголовок научной статьи. Открытое акционерное общество «Планар» - это научно-технический комплекс частной формы собственности</p>
                <p>Автор: <span>Иванов И.И.</span></p>
            </div>
        </a>
    </li>
    <li>
        <a href="#">
            <div>
                <p>22</p>
                <p>МАЯ 2023</p>
            </div>
            <div class="products__content-catalog-border"></div>
            <div>
                <p>Заголовок научной статьи. Открытое акционерное общество «Планар» - это научно-технический комплекс частной формы собственности</p>
                <p>Автор: <span>Иванов И.И.</span></p>
            </div>
        </a>
    </li>
    <li>
        <a href="#">
            <div>
                <p>22</p>
                <p>МАЯ 2023</p>
            </div>
            <div class="products__content-catalog-border"></div>
            <div>
                <p>Заголовок научной статьи. Открытое акционерное общество «Планар» - это научно-технический комплекс частной формы собственности</p>
                <p>Автор: <span>Иванов И.И.</span></p>
            </div>
        </a>
    </li>

</ul>