<div class="custom-select__container">
    <div class="custom-select">
        <select class="my-select">
            <option value="option1">Option 1</option>
            <option value="option2">Option 2</option>
            <option value="option3">Option 3</option>
            <option value="option4">Option 4</option>
        </select>
        <div class="select-trigger">
            <span>Select an option</span>
            <i class="arrow"></i>
        </div>
        <ul class="select-options">
            <li data-value="option1">Option 1</li>
            <li data-value="option2">Option 2</li>
            <li data-value="option3">Option 3</li>
            <li data-value="option4">Option 4</li>
        </ul>
    </div>

    <div class="custom-select">
        <select class="my-select">
            <option value="option1">Option 1</option>
            <option value="option2">Option 2</option>
            <option value="option3">Option 3</option>
            <option value="option4">Option 4</option>
        </select>
        <div class="select-trigger">
            <span>Select an option</span>
            <i class="arrow"></i>
        </div>
        <ul class="select-options">
            <li data-value="option1">Option 1</li>
            <li data-value="option2">Option 2</li>
            <li data-value="option3">Option 3</li>
            <li data-value="option4">Option 4</li>
        </ul>
    </div>
</div>